extends layout

block content
  form.am-g(action='/',method='get')
    .am-u-sm-12.am-u-md-3
      input.am-form-field(type='text', name='start', value=params.start, placeholder='起始日期时间', class='datetime-picker')
    .am-u-sm-12.am-u-md-3
      input.am-form-field(type='text', name='end',value=params.end, placeholder='结束日期时间', class='datetime-picker')
    .am-u-sm-12.am-u-md-2
      .am-input-group.am-input-group
        span.am-input-group-btn
          button.am-btn.am-btn-default(type='submit') 搜索
    .am-u-sm-12.am-u-md-4

  hr
  #modal.am-modal.am-modal-no-btn(tabindex='-1')
    .am-modal-dialog
      .am-modal-hd
        | 快速下单
        a.am-close.am-close-spin(href='javascript: void(0)', data-am-modal-close='') ×
      .am-modal-bd.am-text-left
        .am-form
          hr.am-margin-bottom-xs
          .row.commons
            .am-u-sm-12
              stong.am-text-xs.am-padding-right 用户状态:
              span.am-text-xs#user_status
              .am-btn.am-fr.am-btn-xs.am-btn-warning.am-btn-refresh 刷新
          .row
            .am-u-sm-12
              stong.am-text-xs.am-padding-right 订单状态:
              span.am-text-xs#order_status
          .row
            .am-u-sm-12
              stong.am-text-xs 手机号:
              span.am-text-xs#order_phone
          .row
            .am-u-sm-12.am-margin-bottom-xs
              stong.am-text-xs 密码:
              span.am-text-xs#order_password
          hr
          .row#items
            .item.am-u-sm-12.am-text-nowrap
              span.am-text-xs 券&nbsp;:&nbsp;
              span.am-text-xs.name
              span &nbsp;-&nbsp;
              span.am-text-xs.amt
          hr.am-margin-top-xs
          .row
            .am-u-sm-12
              .am-form-group
                label.am-text-xs
                  span.am-padding-right-sm 下单价格
                  span 原价:
                  span#source_price

                input#price.am-input-sm(type='text',name='price')
          .row
            .am-u-sm-12.am-margin-bottom
              .am-btn.am-btn-sm.am-btn-block.am-btn-success.am-btn-submit 提交

  .am-g
    if !data.length
      .am-u-sm-12
        .am-alert.am-alert-success no orders found.
    else
      .am-u-sm-12.am-scrollable-horizontal
        table.am-table.am-table-bd.am-table-striped.admin-content-table.am-text-nowrap
          thead
            tr
              th.am-hide-sm ID
              th 金额
              th 航班
              th.am-hide-sm 乘客
              th 联系人
              th 管理
          tbody
            each item in data
              tr
                td.am-hide-sm
                  span #{item.id}
                  br
                  span #{item.createtime}
                td #{item.allprice}
                td
                  span #{item.flight['code']}
                  br
                  span #{item.flight['depday']}
                  br
                  span #{item.flight['deptime']}
                  span -
                  span #{item.flight['arrtime']}
                td.am-hide-sm
                  if item.passenger instanceof Array
                    each pgr in item.passenger
                      pan #{pgr['name']} &nbsp;
                      span #{pgr['gender']} &nbsp;
                      span #{pgr['cardnum']} &nbsp;
                      br
                  else
                    span #{item.passenger['name']} &nbsp;
                    span #{item.passenger['gender']} &nbsp;
                    span #{item.passenger['cardnum']} &nbsp;
                td
                  if item.contact
                    span #{item.contact}
                  else
                    span 无联系人信息
                  br
                  span #{item.contactmob}
                td
                  a.am-btn.am-btn-xs.am-btn-default.am-btn-order(order=item.id,href='javascript:void(0);') 下单


