extends layout

block content
  form.am-g(action='/spaces',method='post')
    .am-u-sm-12.am-u-md-4.am-padding-bottom-xs
      input.am-form-field(type='text', name='id', placeholder='订单号')
    .am-u-sm-12.am-u-md-4.am-padding-bottom-xs
      input.am-form-field(type='text', name='flight_no', placeholder='航班')
    .am-u-sm-12.am-u-md-4.am-padding-bottom-xs
      input.am-form-field(type='text', name='flight_date', placeholder='出发日期')
    .am-u-sm-12.am-u-md-4.am-padding-bottom-xs
      input.am-form-field(type='text', name='dep_city', placeholder='出发城市')
    .am-u-sm-12.am-u-md-4.am-padding-bottom-xs
      input.am-form-field(type='text', name='dep_time', placeholder='出发时间')
    .am-u-sm-12.am-u-md-4.am-padding-bottom-xs
      input.am-form-field(type='text', name='arr_city', placeholder='到达城市')
    .am-u-sm-12.am-u-md-4.am-padding-bottom-xs
      input.am-form-field(type='text', name='arr_time', placeholder='到达时间')
    .am-u-sm-12.am-u-md-4.am-padding-bottom-xs
      input.am-form-field(type='text', name='space_name', placeholder='仓位类型')
    .am-u-sm-12.am-u-md-4.am-padding-bottom-xs
      .am-input-group.am-input-group
        span.am-input-group-btn
          button.am-btn.am-btn-default(type='submit') 录入
  hr
  form.am-g(action='/spaces',method='get')
    .am-u-sm-12.am-u-md-6
      input.am-form-field(type='text', name='keyword', value=params.keyword, placeholder='关键字')
    .am-u-sm-12.am-u-md-6
      .am-input-group.am-input-group
        span.am-input-group-btn
          button.am-btn.am-btn-default(type='submit') 搜索
  hr
  .am-g
    if !data.length
      .am-u-sm-12
        .am-alert.am-alert-success 没有任何记录.
    else
      .am-u-sm-12.am-scrollable-horizontal
        table.am-table.am-table-bd.am-table-striped.admin-content-table.am-text-nowrap
          thead
            tr
              th 订单号码
              th.am-text-center 航班号码
              th.am-text-center 航班信息
              th.am-text-center 更新时间
              th.am-text-center 仓位类型
              th.am-text-center 座位余量
              th 操作
          tbody
            each item in data
              tr
                td.am-text-middle #{item.id}
                td.am-text-middle.am-text-center #{item.flight_no}
                td.am-text-middle.am-text-center 
                  .am-text-center #{item.dep_city} - #{item.arr_city}
                  .am-text-center #{item.dep_time} - #{item.arr_time}
                td.am-text-middle.am-text-center #{format(item.updated_at)}
                td.am-text-middle.am-text-center #{item.space_name} 
                td.am-text-middle.am-text-center #{item.space_count >= 0 ? item.space_count : '未知'} 
                td.am-text-middle 
                  a.am-btn.am-btn-xs.am-btn-danger(href='/remove?id=#{item.id}',style="color:white") 删除
      .row
        .am-u-sm-12.am-margin-bottom.am-text-right
          a.am-btn.am-btn-xs.am-btn-success.am-margin-right(href='/?keyword=' + params.keyword + '&page=' + (Number(params.page) - 1 >= 0 ? Number(params.page) - 1 : 0)) 上一页
          span.am-btn.am-btn-xs.am-btn-default.am-margin-right 第 #{Number(params.page) + 1} 页
          a.am-btn.am-btn-xs.am-btn-success(href='/?keyword=' + params.keyword + '&page=' + (Number(params.page) + 1)) 下一页