extends layout

block content
  form.am-g(action='/spaces',method='post')
    .am-u-sm-12.am-u-md-4.am-padding-bottom-xs
      input.am-form-field(type='text', name='id', placeholder='订单号')
    .am-u-sm-12.am-u-md-4.am-padding-bottom-xs
      input.am-form-field(type='text', name='flight_no', placeholder='航班')
    .am-u-sm-12.am-u-md-4.am-padding-bottom-xs
      input.am-form-field(type='text', name='flight_date', placeholder='出发日期')
    .am-u-sm-12.am-u-md-4.am-padding-bottom-xs
      input.am-form-field(type='text', name='dep_city', placeholder='出发城市')
    .am-u-sm-12.am-u-md-4.am-padding-bottom-xs
      input.am-form-field(type='text', name='dep_time', placeholder='出发时间')
    .am-u-sm-12.am-u-md-4.am-padding-bottom-xs
      input.am-form-field(type='text', name='arr_city', placeholder='到达城市')
    .am-u-sm-12.am-u-md-4.am-padding-bottom-xs
      input.am-form-field(type='text', name='arr_time', placeholder='到达时间')
    .am-u-sm-12.am-u-md-4.am-padding-bottom-xs
      input.am-form-field(type='text', name='space_name', placeholder='仓位类型')
    .am-u-sm-12.am-u-md-4.am-padding-bottom-xs
      .am-input-group.am-input-group
        span.am-input-group-btn
          button.am-btn.am-btn-default(type='submit') 录入
  hr
  form.am-g(action='/spaces',method='get')
    .am-u-sm-12.am-u-md-6
      input.am-form-field(type='text', name='keyword', value=params.keyword, placeholder='关键字')
    .am-u-sm-12.am-u-md-6
      .am-input-group.am-input-group
        span.am-input-group-btn
          button.am-btn.am-btn-default(type='submit') 搜索
  hr
  .am-g
    if !data.length
      .am-u-sm-12
        .am-alert.am-alert-success 没有任何记录.
    else
      .am-u-sm-12.am-scrollable-horizontal
        table.am-table.am-table-bd.am-table-striped.admin-content-table.am-text-nowrap
          thead
            tr
              th 订单号码
              th 航班号码
              th 起飞城市
              th 起飞时间
              th 到达城市
              th 到达时间
              th 更新时间
              th 仓位类型
              th 座位余量
              th 操作
          tbody
            each item in data
              tr
                td #{item.id}
                td #{item.flight_no}
                td #{item.dep_city}
                td #{item.dep_time}
                td #{item.arr_city}
                td #{item.arr_time}
                th #{item.updated_at}
                td #{item.space_name} 
                td #{item.space_count} 
                td 删除
      .row
        .am-u-sm-12.am-margin-bottom.am-text-right
          a.am-btn.am-btn-xs.am-btn-success.am-margin-right(href='/?keyword=' + params.keyword + '&page=' + (Number(params.page) - 1 >= 0 ? Number(params.page) - 1 : 0)) 上一页
          span.am-btn.am-btn-xs.am-btn-default.am-margin-right 第 #{Number(params.page) + 1} 页
          a.am-btn.am-btn-xs.am-btn-success(href='/?keyword=' + params.keyword + '&page=' + (Number(params.page) + 1)) 下一页